*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clear Sans", sans-serif;
}

[class*='col-']{
  /* background-color: grey;
  border: 1px solid black; */
  padding: 100px 25px 100px 25px;
}



/* HEADER BLOCCO 1 */

header{
  background: linear-gradient(30deg, #225393, #002351);
  color: #fff;
}
header p{
  color: #7393c1;
  
}
